.project-div{
    min-height: 58vh;
    width: 40vh;
    /* background-color: burlywood; */
    border-radius: 10px;
    border: 1px solid rgba(131, 131, 131, 0.241);
    margin: 1vh 0vh;
}

.project-div img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 40%;
}
.project-div h3{
    font-size: 2.5vh;
    font-weight: 700;
    padding: 1vh 2vh;
}

.project-div p{
    font-size: 1.8vh;
    font-weight: 400;
    padding: 0vh 2vh;
}

.project-div .p1{
    font-weight: 600;
    margin-bottom: 1vh;
    font-size: 1.6vh;
}

.techs{
    display: flex;
    flex-wrap: wrap;
}
.techstack{
    margin-top: 1.3vh;
    margin-left: 2vh;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: fit-content;
    padding: 0.5vh 1vh 0.5vh 1vh;
    border-radius: 5px;
    font-size: 1.6vh;
}

.src-code{
    width: fit-content;
    margin-top: 1.3vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
    padding: 0.9vh 1.5vh;
    border-radius: 6px;
    font-size: 1.5vh;
    font-weight: 600;
    font-family: Inter;
    border: 1px solid rgba(108, 108, 108, 0.288);
    cursor: pointer;
}
.src-code:hover{
    background-color: #0000003d;
    color: rgb(63, 63, 63);
}